// Fonts
$berry: 'Berry Rotunda';
$sans: 'Goudy Sans';
$thirty: 'Goudy Thirty';
// Colors
$darkGrey: #2b2827;
$lightGrey: #78706d;
$darkBrown: #26150b;
$lightBrown: #c26b38;
$yellow: #ffe467;
$lightYellow: #fffdf2;
$green: #45911c;
$red: #b82525;
