.topBar {
    height: 70px;
    display: flex;
}
.playerWrapper {
    width: 50%;
    display: flex;
    align-items: center;
}
.dice {
    height: 50px;
    margin: 10px;
}
.canvasWrapper {
    display: flex;
    justify-content: center;
}
#canvasBg {
    margin: 10px;
    background: url(../../assets/imgs/mountainPath.jpg);
    background-size: cover;
}
canvas {
    box-shadow: 0 0 15px $lightBrown;
}
#gameOverlay {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background: rgba(194, 107, 56, 0.7);
    border: 1px solid $darkBrown;
}
