@font-face {
    font-family: 'Berry Rotunda';
    src: url(../../assets/fonts/Berry-Rotunda.ttf),
         url(../../assets/fonts/Berry-Rotunda.woff);
}
@font-face {
    font-family: 'Goudy Sans';
    src: url(../../assets/fonts/Goudy-Sans-Regular.ttf),
         url(../../assets/fonts/Goudy-Sans-Regular.woff);
}
@font-face {
    font-family: 'Goudy Thirty';
    src: url(../../assets/fonts/goudy-thirty.demibold.ttf),
         url(../../assets/fonts/goudy-thirty.demibold.ttf);
}
body, h1, h2, h3, h4, main, div, canvas {
    margin: 0;
    padding: 0;
}
body {
    background: url(../../assets/imgs/texture.jpg) repeat;
    font-family: $sans;
    color: $yellow;
}
h1, h2, h3, h4 {
    font-family: $thirty;
    color: $yellow;
}
main {
    padding-bottom: 50px;
}
button {
    margin: 10px;
    height: 2em;
    font-size: 1.2em;
    background: $green;
    font-family: $sans;
    color: $yellow;
    border: 2px solid $lightBrown;
    cursor: pointer;
    &:hover {
        background: lighten($green, 10%);
        color: $lightYellow;
    }
    &:active {
        background: darken($green, 10%);
    }
}
.centerText {
    text-align: center;
}
.column {
    flex-direction: column;
    margin-top: 20px;
    & h1 {
        margin: 20px auto;
        text-decoration: underline;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.extraMarginTop {
    margin-top: 30px!important;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
