@font-face {
  font-family: "Berry Rotunda";
  src: url(../../assets/fonts/Berry-Rotunda.ttf), url(../../assets/fonts/Berry-Rotunda.woff);
}
@font-face {
  font-family: "Goudy Sans";
  src: url(../../assets/fonts/Goudy-Sans-Regular.ttf), url(../../assets/fonts/Goudy-Sans-Regular.woff);
}
@font-face {
  font-family: "Goudy Thirty";
  src: url(../../assets/fonts/goudy-thirty.demibold.ttf), url(../../assets/fonts/goudy-thirty.demibold.ttf);
}
body, h1, h2, h3, h4, main, div, canvas {
  margin: 0;
  padding: 0;
}

body {
  background: url(../../assets/imgs/texture.jpg) repeat;
  font-family: "Goudy Sans";
  color: #ffe467;
}

h1, h2, h3, h4 {
  font-family: "Goudy Thirty";
  color: #ffe467;
}

main {
  padding-bottom: 50px;
}

button {
  margin: 10px;
  height: 2em;
  font-size: 1.2em;
  background: #45911c;
  font-family: "Goudy Sans";
  color: #ffe467;
  border: 2px solid #c26b38;
  cursor: pointer;
}
button:hover {
  background: #59bc24;
  color: #fffdf2;
}
button:active {
  background: #316614;
}

.centerText {
  text-align: center;
  margin: auto;
}

.extraMargin {
  margin: 20px;
}

.column {
  flex-direction: column;
  margin-top: 20px;
}
.column h1 {
  margin: 20px auto;
  text-decoration: underline;
}

.hidden {
  display: none;
}

#chat {
  max-width: 700px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #c26b38;
  box-shadow: 0 0 15px #c26b38;
  overflow-y: scroll;
  height: 80vh;
}
#chat::-webkit-scrollbar {
  width: 7px;
}
#chat::-webkit-scrollbar-track {
  background: #ffe467;
}
#chat::-webkit-scrollbar-thumb {
  background: #ffdb34;
}
#chat::-webkit-scrollbar-thumb:hover {
  background: #e7be00;
}
#chat #messages {
  background: #d0875d;
  min-height: calc(100% - 142px);
}
#chat #messages .joinChat {
  margin: 5px 10px;
  color: #4e2b16;
  font-style: italic;
}
#chat #messages .message, #chat #messages .messageRightPush {
  width: 80%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
#chat #messages .message {
  background: #733f21;
}
#chat #messages .messageRightPush {
  margin-left: 20%;
  background: #9a552d;
}
#chat #messages .headingMessage {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
#chat #messages .headingMessage p {
  margin: 0;
}
#chat #messages .content {
  margin: 5px 10px;
}
#chat textarea {
  margin: 10px;
  font-family: "Goudy Sans";
  font-size: 20px;
  background: #26150b;
  color: #ffe467;
  padding: 10px;
  resize: none;
  height: 5em;
}
#chat .sendBox {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

#chatToggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.extraMarginTop {
  margin-top: 30px !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  display: flex;
  align-items: center;
}
header .logo {
  height: 150px;
  margin: 10px;
}
header h1 {
  font-size: 40px;
  margin: 10px;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}
main #error {
  color: #b82525;
  font-size: 20px;
}
main .center {
  margin: 10px auto;
}
main .fullWidth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .playSelection {
  margin-top: 50px;
  margin-bottom: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .playSelection img {
  margin: 20px;
  max-width: calc(50vw - 80px);
}
main .playSelection p {
  text-align: center;
  letter-spacing: 0.1em;
}
main label {
  font-size: 20px;
}
main select {
  margin: 10px;
  margin-bottom: 20px;
  height: 2.5em;
  font-family: "Goudy Sans";
  font-size: 20px;
  background: #26150b;
  color: #ffe467;
  padding: 10px;
}
main input {
  margin: 10px;
  margin-bottom: 20px;
  font-family: "Goudy Sans";
  font-size: 20px;
  background: #26150b;
  color: #ffe467;
  padding: 10px;
}

.collapseSegment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collapseSegment .segment {
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  transition: height 0.5s ease;
  height: 34px;
}
.collapseSegment .segment h2 {
  font-family: "Goudy Sans";
  font-size: 24px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.collapseSegment .segment a {
  text-decoration: none;
  color: #c26b38;
}
.collapseSegment .segment a:hover {
  color: #ffe467;
  text-decoration: underline;
}
.collapseSegment .segment ul {
  list-style: square;
}
.collapseSegment .segment ul li {
  margin: 10px;
}
.collapseSegment .icon {
  margin: 0 5px;
  width: 24px;
  transition: transform 0.5s ease;
}

.topBar {
  height: 70px;
  display: flex;
}
.topBar .playerWrapper {
  width: 50%;
  display: flex;
  align-items: center;
}
.topBar .playerWrapper .playerToken {
  margin: 0 10px;
  height: 70px;
  width: 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar .playerWrapper .playerToken img {
  max-width: 65px;
  max-height: 65px;
}
.topBar .playerWrapper #playerOneToken {
  top: 0;
  left: 10px;
}
.topBar .playerWrapper #playerTwoToken {
  top: 0;
  right: 10px;
}
.topBar .playerWrapper .token {
  height: 110px;
  position: fixed;
  z-index: -1;
}
.topBar .playerWrapper #p1Token {
  left: -22px;
}
.topBar .playerWrapper #p2Token {
  right: -22px;
}
.topBar .playerWrapper .playerInfo {
  margin: 0 10px;
}
.topBar .playerWrapper .playerInfo p {
  margin: 10px;
}
.topBar .playerWrapper #playerOneInfo {
  margin-left: 100px;
  margin-right: auto;
}
.topBar .playerWrapper #playerTwoInfo {
  margin-left: auto;
  margin-right: 100px;
}
.topBar .playerWrapper .diceWrapper {
  width: 50px;
}
.topBar .playerWrapper .dice {
  height: 40px;
  margin: 0 5px;
}

.canvasWrapper {
  display: flex;
  justify-content: center;
}

#canvasBg {
  margin: 10px;
  background: url(../../assets/imgs/mountainPath.jpg);
  background-size: cover;
}

canvas {
  box-shadow: 0 0 15px #c26b38;
}

#gameOverlay {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  background: rgba(194, 107, 56, 0.7);
  border: 1px solid #26150b;
}
#gameOverlay p {
  font-size: 20px;
  font-weight: bold;
  color: #26150b;
}
#gameOverlay button {
  float: right;
}

.winnerWrapper {
  justify-content: center;
}
.winnerWrapper .winner {
  display: flex;
}
.winnerWrapper .winner p {
  margin: 10px auto;
  font-size: 20px;
}
.winnerWrapper .winner div {
  margin: 10px auto;
}

/*# sourceMappingURL=styles.css.map */
